@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Mulish", sans-serif;
  margin: 40px 80px;
}
/* header section styles */
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}
nav .left-section {
  display: flex;
  align-items: center;
}
.left-section .icon {
  width: 35px;
  height: 35px;
  margin-right: 10px;
}
.left-section .title span {
  color: #ff5400;
  font-size: 2.1rem;
  font-weight: 800;
}
.left-section .title {
  color: #131318;
  font-size: 2.1rem;
  font-weight: 800;
}
/* right nav */

.right-section ul {
  display: flex;
  list-style: none;
}
.right-section ul li a {
  margin: 0px 10px;
  cursor: pointer;
  color: #424247;
  font-size: 1rem;
  font-weight: 400;
  text-decoration: none;
}
.right-section .home {
  color: #ff5400;
}

/* another header section styles */
.header-section {
  height: 500px;
  border-radius: 16px;
  background: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8) 0%,
      rgba(19, 19, 24, 0) 100%
    ),
    url("assets/Group\ 13\ \(1\)\ \(1\).png");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.header-section .title {
  color: #fff;
  font-size: 4rem;
  font-weight: 800;
}
.header-desc {
  color: #fff;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.4rem;
  width: 80%;
}

/* search bar */
.search-bar {
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
  padding: 10px;
  display: flex;
  justify-content: space-around;
  gap: 30px;
}

.search-bar input,
.search-bar select {
  background-color: rgb(255, 249, 249);
  padding: 12px 15px;
  border-radius: 8px;
  font-size: 0.8rem;
  border: none;
  width: 150px;
  color: rgb(127, 138, 148);
  padding: 10px;
}
.primary-btn {
  display: flex;
  justify-content: center;
  gap: 2px;
  font-weight: bold;
  font-size: 1rem;
  color: white;
  background-color: #ff5400;
  width: 165px;
  height: 47px;
  border: none;
  align-items: center;
  border-radius: 5px;
}
.primary-btn img {
  width: 1rem;
  color: white;
}
.hambarger {
    display: none;
} 
/* responsive header  */
@media screen and (max-width: 600px) {
  body {
    margin: 10px;
    padding: 10px;
  }
  header nav {
    margin-bottom: 30px;
  }
  .header-section .title {
    text-align: center;
    font-size: 3rem;
    margin-top: 10px;
  }
  nav .left-section {
    margin-bottom: 10px;
  }
  .header-section {
    height: auto;
    gap: 15px;
  }
  .search-bar {
    flex-direction: column;
    margin-bottom: 30px;
  }
  .search-bar input,
  .search-bar select {
    width: auto;
  }
  .right-section {
    display: none;
  }
  .hambarger {
    display: block;
  }
}

/* main section styles */
/* popular tours section */
.populer-tours {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  gap: 40px;
}
.populer-tours .text-content {
  width: 50%;
}
.populer-tours .title {
  color: #131318;
  font-size: 2.5rem;
  font-weight: 800;
  margin-bottom: 1rem;
}
.text-content p {
  color: rgba(19, 19, 24, 0.7);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6rem;
  margin-bottom: 1rem;
}
.text-content ul li {
  color: rgba(19, 19, 24, 0.7);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
}
.populer-tours .img-container {
  width: 45%;
}
.img-container img {
  width: 100%;
  height: auto;
}
/* responsive */
@media screen and (max-width: 600px) {
  .populer-tours {
    flex-direction: column;
  }
  .populer-tours .text-content {
    width: 100%;
    text-align: justify;
  }
  .populer-tours .img-container {
    width: 100%;
  }
}

/* Destinations style */

.Your-Destinations {
  margin-top: 40px;
}
.Your-Destinations .textContent {
  text-align: center;
  max-width: 600px;
  margin: 30px auto;
}
.Your-Destinations .textContent h1 {
  color: #131318;
  font-size: 2.2rem;
  font-weight: 800;
  margin-bottom: 20px;
}
.Your-Destinations p {
  color: rgba(19, 19, 24, 0.7);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6rem;
}
.imgcont {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
  position: relative;
}
.imgcont img {
  width: 100%;
}
.imgcont .Maldives {
  color: antiquewhite;
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
}
.Indonesia {
  position: absolute;
  color: antiquewhite;
  top: 50%;
  left: 80%;
  transform: translate(-50%, -50%);
}
.Sri {
  position: absolute;
  color: antiquewhite;
  top: 50%;
  left: 10%;
  transform: translate(-50%, -50%);
}
.NorAm {
  position: absolute;
  color: antiquewhite;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);
}
.Kash {
  position: absolute;
  color: antiquewhite;
  top: 50%;
  left: 95%;
  transform: translate(-50%, -50%);
}
.Bdb {
  position: absolute;
  color: antiquewhite;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
}
.Bd {
  position: absolute;
  color: antiquewhite;
  top: 50%;
  left: 15%;
  transform: translate(-50%, -50%);
  /* }responsive styles */
}
@media screen and (max-width: 600px) {
  .imgcont {
    flex-direction: column;
    margin: auto;
  }
  .imgcont img {
    max-height: 300px;
    margin: 10px auto;
  }
  .Indonesia,
  .Sri,
  .Bd,
  .Bdb,
  .Maldives,
  .NorAm,
  .Kash {
    display: none;
  }
}

/* Why choose us */

.text-segment {
  max-width: 500px;
  text-align: center;
  margin: 40px auto;
}
.text-segment .section-title {
  color: #131318;
  text-align: center;
  font-size: 2.3rem;
  font-weight: 800;
  margin-bottom: 10px;
}
.text-segment .section-desc {
  color: rgba(19, 19, 24, 0.7);
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.3rem;
}
.Our-options {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.item01 {
  width: 41%;
  text-align: justify;
  padding: 2rem;
  border-radius: 1rem;
  border: 1px solid rgba(251, 181, 99, 0.2);
  background: rgba(221, 54, 243, 0.267);
}
.item02 {
  width: 41%;
  border-radius: 1rem;
  padding: 2rem;
  border: 1px solid rgba(41, 206, 246, 0.2);
  background: rgba(106, 245, 101, 0.651);
}
.item03 {
  width: 40%;
  border-radius: 1rem;
  border: 1px solid rgba(233, 68, 68, 0.2);
  background: rgba(33, 248, 237, 0.205);
  padding: 2rem;
  margin: 10px auto;
}
/* responsive media query */
/* for mobile devices */
@media screen and (max-width: 600px) {
  .Our-options {
    flex-direction: row;
  }
  .Our-options .item01,
  .item02,
  .item03 {
    width: 100%;
    padding: auto;
  }
}

/* Unique section section styles */

#local-flavor-section {
  text-align: center;
  padding: 50px 0;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#local-flavor-content {
  max-width: 800px;
  margin: 0 auto;
}
#local-flavor-content h1 {
  color: #dd5018;
  text-align: center;
  font-size: 2.3rem;
  font-weight: 800;
  margin-bottom: 10px;
}

.local-flavor-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-top: 20px;
}
/* responsive */
@media screen and (max-width: 600px) {
  #local-flavor-content h1 {
    text-align: left;
  }
  #local-flavor-content p {
    text-align: justify;
  }
}

/*newLetter section styels */
.newsletter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.newsletter .section-container {
  max-width: 400px;
  padding: 30px;
  border-radius: 20px;
  border: 2px solid #dd5018;
}

.newsletter .section-title,
.newsletter .section-desc {
  text-align: left;
}

.newsletter .section-title {
  font-size: 22px;
}

.newsletter .desc {
  color: #5a5a5d;
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px;
}

.newsletter form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.newsletter input {
  background-color: #1313180d;
  padding: 15px 20px;
  border-radius: 10px;
  width: 100%;
  border: none;
  outline: none;
  font-size: 1.05rem;
}

.newsletter .image-container {
  text-align: right;
  position: relative;
}

.newsletter img {
  width: 100%;
  margin-left: auto;
}

.newsletter .savings {
  position: absolute;
  background-color: #dd5018;
  color: white;
  padding: 15px 20px;
  border-radius: 10px;
  width: fit-content;
  text-align: center;
  right: 5px;
  bottom: 10%;
  transform: rotate(-20deg);
}

.newsletter .savings h4 {
  font-size: 18px;
  font-weight: 400;
}

.newsletter .savings p {
  font-size: 22px;
  font-weight: 700;
}
.Subscribe-btn {
  border-radius: 8px;
  background: #ff5400;
  padding: 5px 0px;
  border: none;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 800;
}
/* responsive media query */
@media screen and (max-width: 600px) {
  .newsletter {
    display: block;
  }
  .newsletter .section-container {
    margin: 30px 0px;
  }
}

/* footer section styles */
footer {
  margin: 30px auto;
}
.page-title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 50px;
}
.page-title h1 span {
  display: inline;
  color: #ff5400;
  font-size: 2.1rem;
  font-weight: 800;
}
.page-title img {
  max-width: 45px;
}
.social {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 20px auto;
}
.social img {
  max-width: 40px;
}
footer .desc {
  color: #5a5a5d;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}

.textofCopyright {
  margin: 30px 0px;
  text-align: center;
}
/* responsived */
